<section id="banner">
	<h2>About Us</h2>
	<p>DoWhatNow is dedicated to connecting aspiring professionals to mentors who will be able to equip them with the proper tools necessary for success.</p>
</section>

<!--
<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>Introducing the ultimate mobile app
			<br />
			for doing stuff with your phone</h2>
			<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
			adipiscing nunc adipiscing. Condimentum turpis massa.</p>
		</header>
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
	</section>
</section>
-->