<section id="banner">
</section>

<section id="main" class="container 75%">
	<section class="box special">
		<header class="major">
			<h2>Reach out to us!</h2>
			<p>dowhatnow.contact@gmail.com</p>
		</header>
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
	</section>
</section>