<style>
	h4{
		text-decoration: none;
	}

	h4 a:hover{
		color: #333;
	}
</style>

<section id="banner">
	<h2>Check out these interesting reads!</h2>
</section>

<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>For the Mentee</h2>
			<h4><a href="http://www.forbes.com/sites/forbescoachescouncil/2016/03/11/eight-questions-to-ask-your-coach-or-mentor/#33edcf5b109e" target="_blank">Eight Questions to Ask Your Coach or Mentor</a></h4>
			<h4><a href="http://www.fastcompany.com/3059004/how-to-tell-the-difference-between-optimism-and-wishful-thinking" target="_blank">How to Tell The Difference Between Optimism And Wishful Thinking</a></h4>
			<h4><a href="http://www.fastcompany.com/3058885/lessons-learned/what-my-three-years-at-netflix-taught-me-about-scaling-a-startup" target="_blank">What My Three Years At Netflix Taught Me About Scaling a Startup</a></h4>
			<h4><a href="http://www.fastcompany.com/3059144/the-class-of-2016-has-better-economic-prospects-than-last-years-grads" target="_blank">The Class of 2016 Has Better Economic Prospects Than Last Year's Grads</a></h4>
		</header>
	</section>
</section>